body, html {
  margin: 0;
  padding: 0;
  height: 75%;
}

.container {
  height: 200vh; /* Adjust as needed to demonstrate scrolling */
}

video {
  display: block;
  margin: 50vh auto; /* Centering the video */
}
