body, html {
  margin: 0;
  padding: 0;
  height: 50%;
}

.container {
  height: 125vh; /* Adjust as needed to demonstrate scrolling */
}

video {
  display: block;
  margin: 15vh auto; /* Centering the video */
}
