body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  height: 200vh; /* Adjust as needed to demonstrate scrolling */
}

video {
  display: block;
  margin: 0 auto; /* Centering the video */
  width: 100%; /* Make the video container full width */
}

/* Hide video controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}
